.idea/AndroidProjectSystem.xml
.idea/caches/deviceStreaming.xml
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/markdown.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.gradle/
