.idea/AndroidProjectSystem.xml
.idea/caches/deviceStreaming.xml
.idea/deviceManager.xml
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/markdown.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.gradle/
.claude/settings.json


# macOS
.DS_Store
**/.DS_Store
.idea/inspectionProfiles/Project_Default.xml
