.idea/AndroidProjectSystem.xml
.idea/caches/deviceStreaming.xml
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/markdown.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.gradle/
.DS_Store
app/.DS_Store
app/src/.DS_Store
app/src/main/.DS_Store
app/src/main/assets/.DS_Store
app/src/main/java/.DS_Store
app/src/main/res/.DS_Store
.claude/settings.json
app/.DS_Store
